body {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  color: white;
  background-color: black;
}

*, *:after, *:before {
  box-sizing: border-box;
}

h1, h2, body {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.main {
  height: 100vh;
}

.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header .header__logo {
  display: flex;
  align-items: center;
}
.header .header__login {
  display: flex;
  align-items: center;
}
.header .logo__img {
  margin-right: 8px;
}
.header .logo__text {
  margin-right: 108px;
}
.header .login__img {
  margin-right: 14px;
}
.header .login__link {
  color: white;
  font-family: "Noto Sans";
  font-size: 18px;
}

.on-front {
  position: relative;
  z-index: 300;
}

.intro {
  overflow: hidden;
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.intro .intro__description {
  margin-top: 143px;
}
.intro .intro__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 4vw;
  width: 100%;
  display: flex;
}
.intro .intro__subtitle {
  margin-top: 10%;
  font-family: "Noto Sans";
  font-size: 2vw;
  display: flex;
}
.intro .intro__img {
  position: relative;
  z-index: 2;
  margin-right: 30px;
}
.intro .intro__img::after {
  content: "";
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  top: -90px;
  z-index: 1;
  background: radial-gradient(rgba(96, 92, 234, 0.5) 20%, black);
  filter: blur(50px);
  border-radius: 100%;
  left: -35px;
}
.intro .subtitle__text {
  position: relative;
  z-index: 300;
  align-self: flex-end;
}
.intro .intro-phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intro .intro-phone img {
  max-width: 100%;
}
.intro .intro-phone__img {
  top: -5%;
  position: relative;
  text-align: center;
  z-index: 2;
}
.intro .intro-phone__img::after {
  content: "";
  width: 662px;
  height: 783px;
  display: block;
  position: absolute;
  top: -200px;
  z-index: 1;
  background: radial-gradient(circle farthest-side at 55% 40%, rgba(250, 0, 255, 0.2) 60%, black);
  filter: blur(125px);
  border-radius: 100%;
  left: -105px;
}

.platforms__item:first-child {
  margin-right: 15px;
}

.app-section {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.app-section .app-section__link {
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
}

.cookie-block {
  position: -webkit-sticky;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10000000;
  background-color: #212834;
}

.cookie-block__inner {
  margin: auto 0 auto auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cookie-block__text {
  margin: 36px 0;
}

.cookie-block__button {
  margin-right: 5%;
  width: 10%;
  height: 100%;
}

.button {
  padding: 15% 50%;
  border-radius: 6px;
  border: 0.5px solid #FFFFFF;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.contacts {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.contacts__block {
  width: 503px;
  height: 312px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 21.3671px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts__block:first-child {
  margin-right: 80px;
}

.contacts__text {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
}

.contacts__link {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.desc-block .desc-block__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 51px;
  line-height: 62px;
  margin-bottom: 0.5em;
}
.desc-block .desc-block__subtitle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.mission {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.mission .desc-block {
  width: 50%;
  padding-bottom: 200px;
  position: relative;
  z-index: 2;
  margin-right: 30px;
}
.mission .desc-block::after {
  content: "";
  width: 85px;
  height: 85px;
  display: block;
  position: absolute;
  top: 0px;
  z-index: 1;
  background: radial-gradient(rgb(241, 1, 191) 50%, black);
  filter: blur(50px);
  border-radius: 100%;
  left: 200px;
}

.mission__phone {
  rotate: 90deg;
}

.background {
  width: 100%;
  position: relative;
  z-index: 2;
}
.background::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);
}

.id-scanner {
  position: relative;
  display: flex;
  justify-content: center;
}
.id-scanner .desc-block {
  width: 20%;
}

.id-scanner__inner {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 80%;
  position: absolute;
  bottom: -100px;
}

.phones {
  display: flex;
}

.mg-r {
  margin-right: 30px;
}

.tools {
  padding-top: 20%;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.tools__inner {
  position: relative;
  width: 70%;
  height: 50vh;
  top: -50px;
  display: flex;
  flex-direction: column;
}
.tools__inner .gr-pos {
  width: 25%;
  position: absolute;
}
.tools__inner .gr-pos:nth-child(1) {
  left: 30%;
}
.tools__inner .gr-pos:nth-child(2) {
  top: 39%;
  left: 13%;
}
.tools__inner .gr-pos:nth-child(3) {
  top: 55%;
  left: 2%;
}
.tools__inner .gr-pos:nth-child(4) {
  top: 63%;
  left: 26%;
  z-index: 2;
}
.tools__inner .gr-pos:nth-child(5) {
  top: 38%;
  left: 41%;
  z-index: 1;
}
.tools__inner .gr-pos:nth-child(6) {
  top: 83%;
  left: 17%;
}
.tools__inner .gr-pos:nth-child(7) {
  top: 106%;
  left: 43%;
}

.qr-code {
  width: 100%;
}

.qr-code__images {
  padding-bottom: 70px;
  display: flex;
}
.qr-code__images .qr-code__image:first-child {
  position: relative;
  z-index: 2;
}
.qr-code__images .qr-code__image:first-child::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  background: linear-gradient(179.83deg, #000000 -3.1%, rgba(0, 0, 0, 0) 56.76%, #000000 83.92%);
}
.qr-code__images .gr-pos {
  position: absolute;
  left: 0;
  margin-left: 60%;
}
.qr-code__images .qr-code__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.qr-code__images .qr-code__image img:first-child {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.qr-code__images .qr-code__image:last-child {
  position: relative;
}

.qr-code__inner {
  position: relative;
  display: flex;
  margin-left: 200px;
}
.qr-code__inner .platforms {
  margin-top: 60px;
}

.phones .gr-pos {
  position: absolute;
}
.phones .gr-pos:first-child {
  top: -550px;
  z-index: 10000;
}
.phones .gr-pos:last-child {
  bottom: -10%;
  right: 5%;
  z-index: 3000;
}
.phones img {
  width: 20vw;
}

.notab .desc-block {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 80px auto 0;
}
.notab .desc-block .desc-block__title {
  width: 25%;
}
.notab .desc-block .desc-block__subtitle {
  width: 25%;
}

.notab__inner {
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.notab__inner::after {
  content: "";
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  opacity: 0.15;
  filter: blur(155.784px);
  border-radius: 476.034px;
}
.notab__inner .notab__back {
  position: absolute;
}
.notab__inner .arrow {
  padding-bottom: 170px;
  margin-left: 660px;
  position: absolute;
}
.notab__inner .arrow__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding-left: 80px;
}

.w-100 {
  width: 100%;
}

.ordering {
  margin-top: 10%;
  position: relative;
}
.ordering .desc-block {
  margin-left: 50%;
}
.ordering .ordering__phone {
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 5%;
}
.ordering .ordering-text {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
  position: relative;
}
.ordering .text__inner {
  max-width: 20%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 22.8021px;
  line-height: 27px;
  background: #000000;
  border: 0.76007px solid rgba(255, 255, 255, 0.5);
  border-radius: 18.2417px;
  padding: 20px 24px;
}
.ordering .text__inner:nth-child(1) {
  margin-left: 58%;
}
.ordering .text__inner:nth-child(2) {
  margin-top: 2%;
  margin-left: 20%;
}
.ordering .text__inner:nth-child(3) {
  margin-left: 63%;
  margin-top: 9%;
}
.ordering .text__inner:nth-child(4) {
  margin-left: 34%;
}

.notab-2 {
  padding-top: 500px;
}
.notab-2 .notab__phone {
  position: absolute;
}
.notab-2 .notab__inner::after {
  display: none;
}

.contact-form {
  width: 100%;
  padding-top: 40%;
}
.contact-form .desc-block {
  margin-bottom: 82px;
}
.contact-form .contact-form__inner {
  text-align: center;
}
.contact-form .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.contact-form .form .form__items {
  display: flex;
  align-items: center;
}
.contact-form .form .form__item {
  margin-bottom: 20px;
  height: 83px;
  background: #FFFFFF;
  border: 1px solid #5C5C5C;
  border-radius: 10px;
  padding-left: 22px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.contact-form .form .form__item::-moz-placeholder {
  color: rgb(191, 191, 191);
}
.contact-form .form .form__item::placeholder {
  color: rgb(191, 191, 191);
}
.contact-form .form .w-60 {
  width: 60%;
}
.contact-form .form .w-49 {
  width: 49%;
}
.contact-form .form .form__button {
  margin: 60px 0 150px;
  width: 30%;
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: white;
}
.contact-form .form::after {
  content: "";
  bottom: 5%;
  right: 5%;
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  z-index: 1;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  filter: blur(125px);
  opacity: 0.7;
  transform: rotate(5.78deg);
}

.footer {
  margin: 200px 0 100px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
}
.footer a {
  color: white;
  text-decoration: none;
}
.footer .footer__inner {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.footer .footer__info {
  position: relative;
}
.footer .footer__info::after {
  content: "";
  top: 0;
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  z-index: 1;
  background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
  filter: blur(125px);
  transform: rotate(5.78deg);
}
.footer .footer__info2 {
  display: flex;
  flex-direction: column;
}
.footer .footer__date {
  font-weight: 800;
}
.footer .footer__email {
  margin: 20px 0;
  font-weight: 500;
}
.footer .footer__terms {
  margin-bottom: 25px;
}

@media (max-width: 800px) {
  .main {
    height: 100%;
  }
  .header {
    margin-bottom: 10%;
    justify-content: space-between;
  }
  .header .logo__text {
    margin-right: 0;
  }
  .intro {
    width: 95%;
    margin: auto 0 auto auto;
  }
  .intro .intro__img {
    display: none;
  }
  .intro .intro__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    width: 100%;
    display: flex;
  }
  .intro .intro__subtitle {
    font-family: "Noto Sans";
    font-size: 16px;
    display: flex;
  }
  .intro .intro-phone {
    margin-top: auto;
  }
  .intro .intro-phone__img {
    width: 160px;
    top: auto;
  }
  .intro .intro-phone__img img {
    max-width: 140%;
  }
  .intro .intro-phone {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .intro .intro__subtitle {
    margin-top: 5%;
  }
  .app-section {
    margin-top: 10%;
    flex-direction: column;
    text-align: center;
  }
  .app-section .platforms {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .app-section .app-section__link {
    width: 100%;
  }
  .app-section .platforms__item {
    width: 50%;
    margin-top: 3%;
  }
  .app-section .platforms__item img {
    width: 100%;
  }
  .app-section .platforms__item:first-child {
    margin-right: 0;
  }
  .cookie-block {
    font-size: 12px;
  }
  .contacts {
    flex-direction: column;
    align-items: center;
  }
  .contacts .contacts__block {
    width: 90%;
    height: 90%;
  }
  .contacts .contacts__block:first-child {
    margin-right: 0;
    margin-bottom: 5%;
    height: 30vh;
  }
  .contacts .contacts__block:last-child {
    height: 25vh;
  }
  .mission {
    margin: 0 auto;
    margin-top: 20%;
    flex-direction: column-reverse;
  }
  .mission .mission__phone {
    rotate: none;
  }
  .id-scanner {
    margin-top: 30%;
    display: block;
  }
  .id-scanner .desc-block {
    width: 100%;
  }
  .id-scanner .id-scanner__inner {
    position: static;
    flex-direction: column-reverse;
    width: 95%;
    align-items: center;
  }
  .id-scanner .background {
    background-size: contain;
  }
  .phones {
    flex-direction: column;
    text-align: center;
  }
  .phones img:first-child {
    margin-right: 0;
  }
  .phones img {
    margin-top: 10%;
  }
  .tools {
    overflow: hidden;
    flex-direction: column;
    margin-left: 0;
  }
  .tools .desc-block {
    width: 90%;
    margin: 0 auto;
  }
  .tools .tools__inner {
    width: 100%;
    height: 50vh;
    margin-top: 20%;
    margin-bottom: 5%;
    margin-left: 0;
  }
  .tools .tools__inner img {
    width: 30%;
  }
  .tools .tools__inner img:nth-child(3) {
    display: none;
  }
  .tools .tools__inner img:last-child {
    width: 70%;
  }
  .tools .tools__inner .gr-pos:nth-child(1) {
    left: -5%;
    top: 64%;
  }
  .tools .tools__inner .gr-pos:nth-child(2) {
    top: 30%;
    left: 8%;
  }
  .tools .tools__inner .gr-pos:nth-child(4) {
    top: 21%;
    left: 40%;
  }
  .tools .tools__inner .gr-pos:nth-child(5) {
    top: 0%;
    left: 67%;
  }
  .tools .tools__inner .gr-pos:nth-child(6) {
    top: 49%;
    left: 29%;
  }
  .tools .tools__inner .gr-pos:nth-child(7) {
    left: 50%;
    top: 82%;
  }
  .desc-block .desc-block__title {
    font-size: 24px;
    line-height: 29px;
  }
  .desc-block .desc-block__subtitle {
    font-size: 16px;
  }
  .qr-code__images {
    flex-direction: column;
  }
  .qr-code {
    position: relative;
  }
  .qr-code .desc-block {
    position: absolute;
    top: 20%;
    z-index: 10000;
    margin-left: 0;
  }
  .qr-code .qr-code__images .qr-code__image {
    width: 100%;
  }
  .qr-code .qr-code__images .qr-code__image:last-child img:first-child {
    width: 100%;
  }
  .qr-code .qr-code__images .qr-code__image:first-child {
    margin-bottom: 30%;
  }
  .qr-code__inner {
    margin-left: 0;
    position: static;
    flex-direction: column;
    align-items: center;
  }
  .qr-code__inner .phones {
    margin-top: -50%;
  }
  .qr-code__inner .phones img {
    position: static;
  }
  .notab {
    display: flex;
    flex-direction: column-reverse;
  }
  .notab .desc-block {
    flex-direction: column;
  }
  .notab .desc-block .desc-block__title {
    width: 100%;
  }
  .notab .desc-block .desc-block__subtitle {
    width: 100%;
  }
  .notab .arrow {
    bottom: 0;
    right: 10%;
    margin: 0;
    margin-bottom: -10%;
    padding: 0;
  }
  .notab .arrow .arrow__text {
    padding: 0;
  }
  .notab .arrow img {
    margin-left: 50%;
    rotate: 40deg;
  }
  .ordering .desc-block {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30%;
  }
  .ordering .ordering__phone {
    padding: 0;
    width: 90%;
  }
  .ordering .ordering-text .text__inner {
    font-size: 18px !important;
  }
  .ordering .ordering-text .text__inner:nth-child(1) {
    margin-left: 10%;
    margin-top: -8%;
  }
  .ordering .ordering-text .text__inner:nth-child(2) {
    margin-top: 2%;
    margin-left: 47%;
  }
  .ordering .ordering-text .text__inner:nth-child(3) {
    margin-left: 63%;
    margin-top: 86%;
  }
  .ordering .ordering-text .text__inner:nth-child(4) {
    margin-left: 20%;
    margin-top: -25%;
  }
  .notab-2 {
    display: none;
  }
  .form .form__items {
    width: 100% !important;
    flex-direction: column;
  }
  .form .form__items .form__item {
    margin-left: 0 !important;
  }
  .form .form__item {
    width: 90% !important;
  }
  .form .platforms {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form .platforms .platforms__item:first-child {
    margin: 0;
    width: 100%;
    margin-bottom: 10%;
  }
  .form .platforms .platforms__item img {
    width: 100%;
  }
  .footer__inner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer__inner .footer__info2 {
    margin-bottom: 10%;
  }
  .footer__inner .footer__info {
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .mission img {
    width: 30%;
  }
  .intro {
    width: 95%;
    margin: auto 0 auto auto;
  }
  .intro .intro__img {
    display: none;
  }
  .intro .intro__description {
    width: 80%;
  }
  .tools__inner {
    width: 60%;
  }
  .tools__inner .gr-pos:nth-child(7) {
    top: 94%;
    left: 49%;
  }
  .tools__inner .gr-pos:nth-child(1) {
    top: 15%;
  }
  .notab .desc-block {
    width: 50%;
  }
  .ordering img {
    width: 90%;
    margin: 0 !important;
  }
  .ordering .text__inner {
    padding: 10px 10px;
  }
  .ordering .text__inner:nth-child(1) {
    margin-left: 58%;
  }
  .ordering .text__inner:nth-child(2) {
    margin-top: 2%;
    margin-left: 20%;
  }
  .ordering .text__inner:nth-child(3) {
    margin-left: 63%;
    margin-top: 20%;
  }
  .ordering .text__inner:nth-child(4) {
    margin-left: 34%;
  }
}
@media (max-width: 600px) {
  .intro__title {
    font-size: 28px !important;
  }
  .intro__subtitle {
    font-size: 14px !important;
  }
  .contacts .contacts__text {
    font-size: 26px;
  }
  .mission__phone {
    width: 100%;
  }
  .cookie-block__button {
    width: 15%;
    margin-right: 10%;
  }
  .qr-code__inner .desc-block {
    top: 6%;
  }
  .cookie-block__text {
    width: 80%;
  }
  .ordering {
    margin-top: 20%;
  }
  .ordering .text__inner {
    padding: 13px 15px;
    font-size: 14px;
    min-width: 30%;
    font-size: 12px !important;
  }
  .ordering .text__inner:nth-child(3) {
    margin-top: 5% !important;
  }
}